<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>city</key>
            <string>서울특별시</string>
            <key>latitude</key>
            <string>37.56667</string>
            <key>longitude</key>
            <string>126.97806</string>
        </dict>
        <dict>
            <key>city</key>
            <string>부산광역시</string>
            <key>latitude</key>
            <string>35.17944</string>
            <key>longitude</key>
            <string>129.07556</string>
        </dict>
        <dict>
            <key>city</key>
            <string>인천광역시</string>
            <key>latitude</key>
            <string>37.45639</string>
            <key>longitude</key>
            <string>126.70528</string>
        </dict>
        <dict>
            <key>city</key>
            <string>대구광역시</string>
            <key>latitude</key>
            <string>35.87222</string>
            <key>longitude</key>
            <string>128.6025</string>
        </dict>
        <dict>
            <key>city</key>
            <string>대전광역시</string>
            <key>latitude</key>
            <string>36.35111</string>
            <key>longitude</key>
            <string>127.385</string>
        </dict>
        <dict>
            <key>city</key>
            <string>광주광역시</string>
            <key>latitude</key>
            <string>35.15972</string>
            <key>longitude</key>
            <string>126.85306</string>
        </dict>
        <dict>
            <key>city</key>
            <string>울산광역시</string>
            <key>latitude</key>
            <string>35.53889</string>
            <key>longitude</key>
            <string>129.31667</string>
        </dict>
        <dict>
            <key>city</key>
            <string>수원시</string>
            <key>latitude</key>
            <string>37.26389</string>
            <key>longitude</key>
            <string>127.02861</string>
        </dict>
        <dict>
            <key>city</key>
            <string>안양시</string>
            <key>latitude</key>
            <string>37.39444</string>
            <key>longitude</key>
            <string>126.95556</string>
        </dict>
        <dict>
            <key>city</key>
            <string>창원시</string>
            <key>latitude</key>
            <string>35.22917</string>
            <key>longitude</key>
            <string>128.675</string>
        </dict>
        <dict>
            <key>city</key>
            <string>고양시</string>
            <key>latitude</key>
            <string>37.65833</string>
            <key>longitude</key>
            <string>126.83056</string>
        </dict>
        <dict>
            <key>city</key>
            <string>성남시</string>
            <key>latitude</key>
            <string>37.44722</string>
            <key>longitude</key>
            <string>127.1375</string>
        </dict>
        <dict>
            <key>city</key>
            <string>용인시</string>
            <key>latitude</key>
            <string>37.24278</string>
            <key>longitude</key>
            <string>127.17889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>부천시</string>
            <key>latitude</key>
            <string>37.50361</string>
            <key>longitude</key>
            <string>126.76611</string>
        </dict>
        <dict>
            <key>city</key>
            <string>안산시</string>
            <key>latitude</key>
            <string>37.32222</string>
            <key>longitude</key>
            <string>126.83083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>청주시</string>
            <key>latitude</key>
            <string>36.64389</string>
            <key>longitude</key>
            <string>127.48944</string>
        </dict>
        <dict>
            <key>city</key>
            <string>전주시</string>
            <key>latitude</key>
            <string>35.825</string>
            <key>longitude</key>
            <string>127.15</string>
        </dict>
        <dict>
            <key>city</key>
            <string>천안시</string>
            <key>latitude</key>
            <string>36.81528</string>
            <key>longitude</key>
            <string>127.11389</string>
        </dict>
        <dict>
            <key>city</key>
            <string>남양주시</string>
            <key>latitude</key>
            <string>37.63694</string>
            <key>longitude</key>
            <string>127.21694</string>
        </dict>
        <dict>
            <key>city</key>
            <string>화성시</string>
            <key>latitude</key>
            <string>37.19972</string>
            <key>longitude</key>
            <string>126.83139</string>
        </dict>
        <dict>
            <key>city</key>
            <string>포항시</string>
            <key>latitude</key>
            <string>36.01944</string>
            <key>longitude</key>
            <string>129.34167</string>
        </dict>
        <dict>
            <key>city</key>
            <string>김해시</string>
            <key>latitude</key>
            <string>35.22889</string>
            <key>longitude</key>
            <string>128.88944</string>
        </dict>
        <dict>
            <key>city</key>
            <string>세종특별자치시</string>
            <key>latitude</key>
            <string>36.4875</string>
            <key>longitude</key>
            <string>127.28167</string>
        </dict>
        <dict>
            <key>city</key>
            <string>시흥시</string>
            <key>latitude</key>
            <string>37.38139</string>
            <key>longitude</key>
            <string>126.80278</string>
        </dict>
        <dict>
            <key>city</key>
            <string>평택시</string>
            <key>latitude</key>
            <string>36.9925</string>
            <key>longitude</key>
            <string>127.11306</string>
        </dict>
        <dict>
            <key>city</key>
            <string>의정부시</string>
            <key>latitude</key>
            <string>37.73889</string>
            <key>longitude</key>
            <string>127.03444</string>
        </dict>
        <dict>
            <key>city</key>
            <string>제주시</string>
            <key>latitude</key>
            <string>33.5</string>
            <key>longitude</key>
            <string>126.51667</string>
        </dict>
        <dict>
            <key>city</key>
            <string>파주시</string>
            <key>latitude</key>
            <string>37.76111</string>
            <key>longitude</key>
            <string>126.77778</string>
        </dict>
        <dict>
            <key>city</key>
            <string>구미시</string>
            <key>latitude</key>
            <string>36.11944</string>
            <key>longitude</key>
            <string>128.34472</string>
        </dict>
        <dict>
            <key>city</key>
            <string>광명시</string>
            <key>latitude</key>
            <string>37.47889</string>
            <key>longitude</key>
            <string>126.86444</string>
        </dict>
        <dict>
            <key>city</key>
            <string>진주시</string>
            <key>latitude</key>
            <string>35.18083</string>
            <key>longitude</key>
            <string>128.10778</string>
        </dict>
        <dict>
            <key>city</key>
            <string>원주시</string>
            <key>latitude</key>
            <string>37.34167</string>
            <key>longitude</key>
            <string>127.92083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>익산시</string>
            <key>latitude</key>
            <string>35.95</string>
            <key>longitude</key>
            <string>126.95833</string>
        </dict>
        <dict>
            <key>city</key>
            <string>김포시</string>
            <key>latitude</key>
            <string>37.7</string>
            <key>longitude</key>
            <string>126.6</string>
        </dict>
        <dict>
            <key>city</key>
            <string>여수시</string>
            <key>latitude</key>
            <string>34.76056</string>
            <key>longitude</key>
            <string>127.66222</string>
        </dict>
        <dict>
            <key>city</key>
            <string>군포시</string>
            <key>latitude</key>
            <string>37.3625</string>
            <key>longitude</key>
            <string>126.93333</string>
        </dict>
        <dict>
            <key>city</key>
            <string>군산시</string>
            <key>latitude</key>
            <string>35.96833</string>
            <key>longitude</key>
            <string>126.73722</string>
        </dict>
        <dict>
            <key>city</key>
            <string>순천시</string>
            <key>latitude</key>
            <string>34.95583</string>
            <key>longitude</key>
            <string>127.49028</string>
        </dict>
        <dict>
            <key>city</key>
            <string>경주시</string>
            <key>latitude</key>
            <string>35.85611</string>
            <key>longitude</key>
            <string>129.22472</string>
        </dict>
        <dict>
            <key>city</key>
            <string>양산시</string>
            <key>latitude</key>
            <string>35.33556</string>
            <key>longitude</key>
            <string>129.03778</string>
        </dict>
        <dict>
            <key>city</key>
            <string>아산시</string>
            <key>latitude</key>
            <string>36.79</string>
            <key>longitude</key>
            <string>127.00194</string>
        </dict>
        <dict>
            <key>city</key>
            <string>경산시</string>
            <key>latitude</key>
            <string>35.82556</string>
            <key>longitude</key>
            <string>128.74167</string>
        </dict>
        <dict>
            <key>city</key>
            <string>강릉시</string>
            <key>latitude</key>
            <string>37.75</string>
            <key>longitude</key>
            <string>128.88333</string>
        </dict>
        <dict>
            <key>city</key>
            <string>거제시</string>
            <key>latitude</key>
            <string>34.88333</string>
            <key>longitude</key>
            <string>128.625</string>
        </dict>
        <dict>
            <key>city</key>
            <string>충주시</string>
            <key>latitude</key>
            <string>36.99278</string>
            <key>longitude</key>
            <string>127.92611</string>
        </dict>
        <dict>
            <key>city</key>
            <string>구리시</string>
            <key>latitude</key>
            <string>37.59444</string>
            <key>longitude</key>
            <string>127.12972</string>
        </dict>
        <dict>
            <key>city</key>
            <string>이천시</string>
            <key>latitude</key>
            <string>37.27222</string>
            <key>longitude</key>
            <string>127.435</string>
        </dict>
        <dict>
            <key>city</key>
            <string>영주시</string>
            <key>latitude</key>
            <string>36.80611</string>
            <key>longitude</key>
            <string>128.62417</string>
        </dict>
        <dict>
            <key>city</key>
            <string>오산시</string>
            <key>latitude</key>
            <string>37.15028</string>
            <key>longitude</key>
            <string>127.0775</string>
        </dict>
        <dict>
            <key>city</key>
            <string>안성시</string>
            <key>latitude</key>
            <string>37.00833</string>
            <key>longitude</key>
            <string>127.275</string>
        </dict>
        <dict>
            <key>city</key>
            <string>안동시</string>
            <key>latitude</key>
            <string>36.56889</string>
            <key>longitude</key>
            <string>128.72944</string>
        </dict>
        <dict>
            <key>city</key>
            <string>서산시</string>
            <key>latitude</key>
            <string>36.785</string>
            <key>longitude</key>
            <string>126.45056</string>
        </dict>
        <dict>
            <key>city</key>
            <string>포천시</string>
            <key>latitude</key>
            <string>37.895</string>
            <key>longitude</key>
            <string>127.20056</string>
        </dict>
        <dict>
            <key>city</key>
            <string>서귀포시</string>
            <key>latitude</key>
            <string>33.25528</string>
            <key>longitude</key>
            <string>126.56111</string>
        </dict>
        <dict>
            <key>city</key>
            <string>하남시</string>
            <key>latitude</key>
            <string>37.54167</string>
            <key>longitude</key>
            <string>127.20972</string>
        </dict>
        <dict>
            <key>city</key>
            <string>김천시</string>
            <key>latitude</key>
            <string>36.14028</string>
            <key>longitude</key>
            <string>128.1125</string>
        </dict>
        <dict>
            <key>city</key>
            <string>의왕시</string>
            <key>latitude</key>
            <string>37.34528</string>
            <key>longitude</key>
            <string>126.96889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>정읍시</string>
            <key>latitude</key>
            <string>35.56806</string>
            <key>longitude</key>
            <string>126.85139</string>
        </dict>
        <dict>
            <key>city</key>
            <string>논산시</string>
            <key>latitude</key>
            <string>36.18722</string>
            <key>longitude</key>
            <string>127.09889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>통영시</string>
            <key>latitude</key>
            <string>34.85556</string>
            <key>longitude</key>
            <string>128.42917</string>
        </dict>
        <dict>
            <key>city</key>
            <string>청원군</string>
            <key>latitude</key>
            <string>36.60139</string>
            <key>longitude</key>
            <string>127.52639</string>
        </dict>
        <dict>
            <key>city</key>
            <string>당진시</string>
            <key>latitude</key>
            <string>36.89833</string>
            <key>longitude</key>
            <string>126.63083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>공주시</string>
            <key>latitude</key>
            <string>36.44667</string>
            <key>longitude</key>
            <string>127.11972</string>
        </dict>
        <dict>
            <key>city</key>
            <string>사천시</string>
            <key>latitude</key>
            <string>35.00472</string>
            <key>longitude</key>
            <string>128.06556</string>
        </dict>
        <dict>
            <key>city</key>
            <string>영천시</string>
            <key>latitude</key>
            <string>35.97333</string>
            <key>longitude</key>
            <string>128.93861</string>
        </dict>
        <dict>
            <key>city</key>
            <string>송탄동</string>
            <key>latitude</key>
            <string>37.08139</string>
            <key>longitude</key>
            <string>127.05</string>
        </dict>
        <dict>
            <key>city</key>
            <string>나주시</string>
            <key>latitude</key>
            <string>35.01611</string>
            <key>longitude</key>
            <string>126.71083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>밀양시</string>
            <key>latitude</key>
            <string>35.50389</string>
            <key>longitude</key>
            <string>128.74667</string>
        </dict>
        <dict>
            <key>city</key>
            <string>보령시</string>
            <key>latitude</key>
            <string>36.33333</string>
            <key>longitude</key>
            <string>126.61306</string>
        </dict>
        <dict>
            <key>city</key>
            <string>칠곡군</string>
            <key>latitude</key>
            <string>35.99583</string>
            <key>longitude</key>
            <string>128.4</string>
        </dict>
        <dict>
            <key>city</key>
            <string>상주시</string>
            <key>latitude</key>
            <string>36.41167</string>
            <key>longitude</key>
            <string>128.15972</string>
        </dict>
        <dict>
            <key>city</key>
            <string>여주군</string>
            <key>latitude</key>
            <string>37.30028</string>
            <key>longitude</key>
            <string>127.63889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>기장군</string>
            <key>latitude</key>
            <string>35.24306</string>
            <key>longitude</key>
            <string>129.21944</string>
        </dict>
        <dict>
            <key>city</key>
            <string>동해시</string>
            <key>latitude</key>
            <string>37.52472</string>
            <key>longitude</key>
            <string>129.11417</string>
        </dict>
        <dict>
            <key>city</key>
            <string>예산군</string>
            <key>latitude</key>
            <string>36.68194</string>
            <key>longitude</key>
            <string>126.85</string>
        </dict>
        <dict>
            <key>city</key>
            <string>부여군</string>
            <key>latitude</key>
            <string>36.27639</string>
            <key>longitude</key>
            <string>126.91111</string>
        </dict>
        <dict>
            <key>city</key>
            <string>김제시</string>
            <key>latitude</key>
            <string>35.80361</string>
            <key>longitude</key>
            <string>126.88083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>속초시</string>
            <key>latitude</key>
            <string>38.20694</string>
            <key>longitude</key>
            <string>128.59194</string>
        </dict>
        <dict>
            <key>city</key>
            <string>홍성군</string>
            <key>latitude</key>
            <string>36.60139</string>
            <key>longitude</key>
            <string>126.66083</string>
        </dict>
        <dict>
            <key>city</key>
            <string>남원시</string>
            <key>latitude</key>
            <string>35.41667</string>
            <key>longitude</key>
            <string>127.39056</string>
        </dict>
        <dict>
            <key>city</key>
            <string>고흥군</string>
            <key>latitude</key>
            <string>34.6125</string>
            <key>longitude</key>
            <string>127.28333</string>
        </dict>
        <dict>
            <key>city</key>
            <string>양평군</string>
            <key>latitude</key>
            <string>37.49222</string>
            <key>longitude</key>
            <string>127.48778</string>
        </dict>
        <dict>
            <key>city</key>
            <string>동두천시</string>
            <key>latitude</key>
            <string>37.90278</string>
            <key>longitude</key>
            <string>127.05833</string>
        </dict>
        <dict>
            <key>city</key>
            <string>광주시</string>
            <key>latitude</key>
            <string>37.4175</string>
            <key>longitude</key>
            <string>127.25639</string>
        </dict>
        <dict>
            <key>city</key>
            <string>화순군</string>
            <key>latitude</key>
            <string>35.06528</string>
            <key>longitude</key>
            <string>126.985</string>
        </dict>
        <dict>
            <key>city</key>
            <string>문경시</string>
            <key>latitude</key>
            <string>36.58611</string>
            <key>longitude</key>
            <string>128.18611</string>
        </dict>
        <dict>
            <key>city</key>
            <string>고창군</string>
            <key>latitude</key>
            <string>35.43667</string>
            <key>longitude</key>
            <string>126.70306</string>
        </dict>
        <dict>
            <key>city</key>
            <string>영광군</string>
            <key>latitude</key>
            <string>35.27778</string>
            <key>longitude</key>
            <string>126.50944</string>
        </dict>
        <dict>
            <key>city</key>
            <string>삼척시</string>
            <key>latitude</key>
            <string>37.45</string>
            <key>longitude</key>
            <string>129.165</string>
        </dict>
        <dict>
            <key>city</key>
            <string>과천시</string>
            <key>latitude</key>
            <string>37.42778</string>
            <key>longitude</key>
            <string>126.98889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>의성군</string>
            <key>latitude</key>
            <string>36.35306</string>
            <key>longitude</key>
            <string>128.69722</string>
        </dict>
        <dict>
            <key>city</key>
            <string>홍천군</string>
            <key>latitude</key>
            <string>37.69722</string>
            <key>longitude</key>
            <string>127.88889</string>
        </dict>
        <dict>
            <key>city</key>
            <string>거창군</string>
            <key>latitude</key>
            <string>35.68861</string>
            <key>longitude</key>
            <string>127.91222</string>
        </dict>
        <dict>
            <key>city</key>
            <string>완도군</string>
            <key>latitude</key>
            <string>34.31667</string>
            <key>longitude</key>
            <string>126.75</string>
        </dict>
        <dict>
            <key>city</key>
            <string>강화도</string>
            <key>latitude</key>
            <string>37.71417</string>
            <key>longitude</key>
            <string>126.4525</string>
        </dict>
        <dict>
            <key>city</key>
            <string>영암군</string>
            <key>latitude</key>
            <string>34.8</string>
            <key>longitude</key>
            <string>126.69583</string>
        </dict>
        <dict>
            <key>city</key>
            <string>태안군</string>
            <key>latitude</key>
            <string>36.75</string>
            <key>longitude</key>
            <string>126.29778</string>
        </dict>
        <dict>
            <key>city</key>
            <string>함안군</string>
            <key>latitude</key>
            <string>35.275</string>
            <key>longitude</key>
            <string>128.40833</string>
        </dict>
        <dict>
            <key>city</key>
            <string>고성군</string>
            <key>latitude</key>
            <string>38.38472</string>
            <key>longitude</key>
            <string>128.47361</string>
        </dict>
        <dict>
            <key>city</key>
            <string>창녕군</string>
            <key>latitude</key>
            <string>35.54778</string>
            <key>longitude</key>
            <string>128.49306</string>
        </dict>
    </array>
</plist>

